body {
    text-align: center !important;
    margin: 3rem;
}

img {
    width: 32px;
    height: 32px;
}

.repository {     
    text-align: start;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.repository :nth-child(3) {
    font-size: 12px;
    margin: 0 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.repository :nth-child(4) {
    font-weight: bold;
    font-size: 12px;
}

.repository :nth-child(1) {
    font-style: italic;
    font-size: 12px;
    text-align: start;
    width: 50px;
}

.repository :nth-child(2) {
    margin: 0 0 0 10px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: none;
}